# Exemplo de arquivo de configuração de variáveis de ambiente.
# Copie este arquivo para .env e ajuste conforme seu ambiente de desenvolvimento.

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_S3_BUCKET_NAME=unipdi-bucket

SPRING_DATA_MONGODB_URI=mongodb://localhost:27017/unipdi
